.ait-easy-admin-enabled .narrow {
  max-width: 1200px;
}
.ait-easy-admin-enabled a {
  color: #d05756;
}
.ait-easy-admin-enabled a:hover {
  color: #db7f7e;
}
.ait-easy-admin-enabled #wpbody {
  max-width: 1200px;
}
body.ait-easy-admin-enabled {
  background-color: #F7F7F7;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: top center;
  background-scroll: scroll;
  color: #888888;
}
.ait-easy-admin-enabled #wpcontent .easyadmin-header-container {
  background-color: #ffffff;
  background-image: url("http://ispylagos.com/wp-content/uploads/Header_3.png");
  background-repeat: repeat;
  background-position: top center;
  background-scroll: fixed;
  color: #ffffff;
}
.ait-easy-admin-enabled #wpcontent .easyadmin-bottom-container {
  background-color: #ff0000;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: top center;
  background-scroll: scroll;
  color: #ffffff;
}
.ait-easy-admin-enabled ul#easyadmin-user-menu > li > a {
  color: #ffffff;
}
.ait-easy-admin-enabled ul#easyadmin-main-menu > li > a {
  color: #ffffff;
}
.ait-easy-admin-enabled ul#easyadmin-main-menu > li.hover > a,
.ait-easy-admin-enabled ul#easyadmin-main-menu > li.current > a {
  background: #F7F7F7 !important;
  color: #ff0000;
}
.ait-easy-admin-enabled ul#easyadmin-main-menu > li.wp-has-current-submenu > a {
  background: #F7F7F7 !important;
  color: #ff0000;
}
.ait-easy-admin-enabled li#toplevel_page_ait-theme-options > a,
.ait-easy-admin-enabled li#toplevel_page_ait-pages-options > a {
  background: none !important;
}
.ait-easy-admin-enabled .dashicons-before:before {
  color: #ff3333;
}
.ait-easy-admin-enabled ul#easyadmin-main-menu > li > ul {
  background: #F7F7F7;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.03);
}
.ait-easy-admin-enabled ul#easyadmin-main-menu > li > ul a {
  color: #ff0000;
}
.ait-easy-admin-enabled ul#easyadmin-main-menu > li > ul a:hover,
.ait-easy-admin-enabled ul#easyadmin-main-menu > li > ul a.current {
  background: rgba(0,0,0,0.03);
}
.ait-easy-admin-enabled ul#easyadmin-main-menu .awaiting-mod {
  background: #ffffff;
  color: #ff0000;
}
.ait-easy-admin-enabled ul#easyadmin-main-menu > li.hover > a .awaiting-mod,
.ait-easy-admin-enabled ul#easyadmin-main-menu > li.current > a .awaiting-mod {
  background: #ff0000;
  color: #ffffff;
}
.ait-easy-admin-enabled ul#easyadmin-main-menu > li.wp-has-current-submenu > a .awaiting-mod {
  background: #ff0000;
  color: #ffffff;
}
.ait-easy-admin-enabled #wpbody {
  color: #888888;
}
.ait-easy-admin-enabled #wpbody h1,
.ait-easy-admin-enabled #wpbody h2,
.ait-easy-admin-enabled #wpbody h3 {
  color: #666666;
}
.ait-easy-admin-enabled #wpbody .form-table th,
.ait-easy-admin-enabled #wpbody .form-wrap label {
  color: #666666;
}
.ait-easy-admin-enabled #wpbody .wrap h1.wp-heading-inline:before {
  width: 1200px;
}
.ait-easy-admin-enabled #wpbody .wrap h1.wp-heading-inline:before,
.ait-easy-admin-enabled #wpbody .wrap h1:not(.wp-heading-inline),
.ait-easy-admin-enabled #wpbody .wrap h1 + form,
.ait-easy-admin-enabled #wpbody .wrap h1 + div + form {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
  box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}
.ait-easy-admin-enabled #wpbody .wrap .wp-filter {
  background: #ffffff;
  border: 1px solid #e8e8e8;
}
.ait-easy-admin-enabled.wp-core-ui .button,
.ait-easy-admin-enabled.wp-core-ui .button-secondary,
.ait-easy-admin-enabled #wpbody input.button {
  background-color: #d05756;
  border-color: #d05756;
  color: #ffffff;
  text-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.ait-easy-admin-enabled.wp-core-ui .button:hover,
.ait-easy-admin-enabled.wp-core-ui .button-secondary:hover,
.ait-easy-admin-enabled #wpbody input.button:hover {
  background-color: #d36362;
  box-shadow: 0 4px 10px rgba(190,54,53,0.35);
}
.ait-easy-admin-enabled.wp-core-ui .button span:before,
.ait-easy-admin-enabled.wp-core-ui .button-secondary span:before,
.ait-easy-admin-enabled #wpbody input.button span:before {
  color: #ffffff;
}
.ait-easy-admin-enabled #wpbody .wrap .add-new-h2,
.ait-easy-admin-enabled #wpbody .wrap .add-new-h2:active,
.ait-easy-admin-enabled #wpbody .wrap .page-title-action,
.ait-easy-admin-enabled #wpbody .wrap .page-title-action:active {
  background-color: #d05756;
  border-color: #d05756;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.ait-easy-admin-enabled #wpbody .wrap .add-new-h2:hover,
.ait-easy-admin-enabled #wpbody .wrap .add-new-h2:active:hover,
.ait-easy-admin-enabled #wpbody .wrap .page-title-action:hover,
.ait-easy-admin-enabled #wpbody .wrap .page-title-action:active:hover {
  background-color: #d36362;
  box-shadow: 0 4px 10px rgba(190,54,53,0.35);
}
.ait-easy-admin-enabled #wpbody .wrap .page-title-action:focus {
  border-color: #d05756;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ait-easy-admin-enabled #wp-content-editor-tools {
  background: #F7F7F7;
}
.ait-easy-admin-enabled .postbox {
  background-color: #ffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: top center;
  background-scroll: scroll;
  border: 1px solid #e8e8e8;
  color: #888888;
}
.ait-easy-admin-enabled .media-frame.mode-grid .attachments-browser .attachments {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
  box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}
body.ait-easy-admin-enabled.profile-php #your-profile {
  background: #ffffff;
}
