{include $element->common('header')}

{* VARIABLES *}
{var $type = $el->option('type')}

{var $selectedKey = isset($_REQUEST['s']) && $_REQUEST['s'] != "" ? $_REQUEST['s'] : ''}
{var $selectedCat = isset($_REQUEST['category']) && $_REQUEST['category'] != "" ? $_REQUEST['category'] : ''}
{var $selectedLoc = isset($_REQUEST['location']) && $_REQUEST['location'] != "" ? $_REQUEST['location'] : ''}
{var $selectedRad = isset($_REQUEST['rad']) && $_REQUEST['rad'] != "" ? $_REQUEST['rad'] : ''}

{var $selectedLocationAddress = isset($_REQUEST['location-address']) && $_REQUEST['location-address'] != "" ? $_REQUEST['location-address'] : ''}
{var $selectedLat = isset($_REQUEST['lat']) && $_REQUEST['lat'] != "" ? $_REQUEST['lat'] : ''}
{var $selectedLon = isset($_REQUEST['lon']) && $_REQUEST['lon'] != "" ? $_REQUEST['lon'] : ''}

{* set default values only if page IS NOT SEARCH RESULT *}
{if defined('AIT_ADVANCED_SEARCH_ENABLED') and !isset($_REQUEST['a'])}
	{var $advancedSearchOptions = aitOptions()->getOptionsByType('ait-advanced-search')}
	{var $advancedSearchOptions = $advancedSearchOptions['general']}
	{if $advancedSearchOptions['useDefaults']}
		{var $selectedLocationAddress = $selectedLocationAddress != "" ? $selectedLocationAddress : $advancedSearchOptions['defaultLocation']['address']}
		{var $selectedRad = $selectedRad != "" ? $selectedRad : $advancedSearchOptions['defaultRadius']}
		{var $selectedLat = $advancedSearchOptions['defaultLocation']['latitude']}
		{var $selectedLon = $advancedSearchOptions['defaultLocation']['longitude']}
	{/if}
{/if}

{capture $searchKeyword}
	{if $type == 2}
	<input type="text" name="s" id="searchinput-text" placeholder="{__ 'Search keyword'}" class="searchinput" value="{$selectedKey}">
	{else}
	<input type="text" name="s" id="searchinput-text" placeholder="{__ 'Search keyword'}" class="searchinput" value="{$selectedKey}">
	{/if}
{/capture}

{capture $searchCategory}
	{var $categories = get_categories(array('taxonomy' => 'ait-items', 'hide_empty' => 0, 'parent' => 0))}
	{if isset($categories) && count($categories) > 0}
		<div class="category-search-wrap">
			<span class="category-clear"><i class="fa fa-times"></i></span>
			<select data-placeholder="{__ 'Category'}" name="category" class="category-search default-disabled" style="display: none;">
			<option label="-"></option>
			{!= recursiveCategory($categories, $selectedCat, 'ait-items', "")}
			</select>
		</div>
	{/if}
{/capture}

{capture $searchLocation}
	{if defined('AIT_ADVANCED_SEARCH_ENABLED')}
		<div class="location-search-wrap advanced-search" data-position="last">
			<input name="location-address" class="location-search searchinput" type="text" id=location-address placeholder="{__ 'Location'}" value="{stripslashes($selectedLocationAddress)}">
			{if $type == 1}
				<i class="fa fa-map-marker"></i>
			{/if}
		</div>
	{else}
		{var $locations = get_categories(array('taxonomy' => 'ait-locations', 'hide_empty' => 0, 'parent' => 0))}
		{if isset($locations) && count($locations) > 0}
			<div class="location-search-wrap">
				<span class="location-clear"><i class="fa fa-times"></i></span>
				<select data-placeholder="{__ 'Location'}" name="location" class="location-search default-disabled" style="display: none;">
				<option label="-"></option>
				{!= recursiveCategory($locations, $selectedLoc, 'ait-locations', "")}
				</select>
			</div>
		{/if}
	{/if}
{/capture}

{capture $searchRadius}
	<div class="radius">
		{if $type != 2}<div class="radius-toggle radius-input-visible">{__ 'Radius:'} {__ 'Off'}</div>{else}<div class="radius-toggle radius-input-visible">x {$el->option('radiusUnits')}</div>{/if}
		<input type="hidden" name="lat" value="{$selectedLat}" id="latitude-search" class="latitude-search" disabled>
		<input type="hidden" name="lon" value="{$selectedLon}" id="longitude-search" class="longitude-search" disabled>
		<input type="hidden" name="runits" value="{$el->option('radiusUnits')}" disabled>

		<div class="radius-display radius-input-hidden">
			<span class="radius-clear"><i class="fa fa-times"></i></span>
			{if $type != 2}<span class="radius-text">{__ 'Radius:'}</span>{/if}
			<span class="radius-value"></span>
			<span class="radius-units">{$el->option('radiusUnits')}</span>
		</div>

		<div class="radius-popup-container radius-input-hidden">
			<span class="radius-popup-close"><i class="fa fa-times"></i></span>
			<input type="range" name="rad" class="radius-search" value="{if $selectedRad}{$selectedRad}{else}0.1{/if}" min="0.1" step="0.1" max="100" disabled>
			<span class="radius-popup-help">{$el->option('radiusHelp')}</span>
		</div>


	</div>
{/capture}
{* VARIABLES *}

<div id="{$htmlId}" class="{$htmlClass}">

	<div id="{$htmlId}-container" n:class='search-form-container, "search-form-type-{$type}"'>
		<form action="{$searchUrl}" method="get" class="search-form">

			<div class="elm-wrapper inputs-container">
				<div class="elm-wrapper">
					<div class="search-content">
					 	{if $type == 2}

					 		{var $sentence = '<span class="label">'.$el->option('sentence').'</span>'}
							{var $sentence = str_replace('{', '</span>{', $sentence)}
							{var $sentence = str_replace('}', '}<span class="label">', $sentence)}

					 		{if strpos($sentence, '{search-keyword}') !== false}
					 			{var $sentence = str_replace('{search-keyword}', $searchKeyword, $sentence)}
					 		{else}
					 			<input type="hidden" name="s" value="">
					 		{/if}
					 		{var $sentence = str_replace('{search-category}', $searchCategory, $sentence)}
					 		{var $sentence = str_replace('{search-location}', $searchLocation, $sentence)}
					 		{var $sentence = str_replace('{search-radius}', $searchRadius, $sentence)}

					 		{!$sentence}

					 	{else}

					 		{if $el->option('enableKeywordSearch')}
								{!$searchKeyword}
							{else}
								<input type="hidden" name="s" value="">
							{/if}

							{if $el->option('enableCategorySearch')}
								{!$searchCategory}
							{/if}

							{if $el->option('enableLocationSearch')}
								{!$searchLocation}
							{/if}

							{if $el->option('enableRadiusSearch')}
								{!$searchRadius}
							{/if}

						{/if}

						<input type="hidden" name="a" value="true"> <!-- Advanced search -->
						<!-- Advanced search -->

						<div class="searchsubmit"></div>

						<input type="submit" value="{__ 'Search'}" class="searchsubmit">
					</div>
				</div>
			</div>

		</form>
	</div>

</div>

{includePart "ait-theme/elements/search-form/javascript"}
