/* Quick edit */

.ait-meta .inline-edit-col { margin-top: 1.8em }
.inline-edit-col .ait-opt-wrap { line-height: 1.8em; display: table; width: 100%; position: relative}
.inline-edit-col .ait-opt-wrap .ait-opt-label { font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif; font-style: italic; display: table-cell; vertical-align: top; width: 10%; }
.inline-edit-col .ait-opt-wrap .ait-opt-help { display: inline-block; position: absolute; left: 40%; top: 0 }
.inline-edit-col .ait-opt {display: table-cell; padding-left: 1em; padding-right: 5em; }
.inline-edit-col .ait-opt-wrapper { width: 34%; }
.inline-edit-col .ait-opt-wrapper > select { width: 100%; height: 2em}
.inline-edit-col .ait-opt-wrapper > input { width: 100%; height: 2em}
.inline-edit-col .ait-opt-wrapper > label { display: inline; margin-right: 2em; white-space:nowrap;}
.inline-edit-col .ait-opt-wrapper > input[type=button] { width: auto; position: absolute; left: 40%; top: 0; margin: 0; height: 2em}
.inline-edit-col .ait-opt-wrapper > textarea { width: 100%; height: 200px}