<!doctype html>
<!--[if IE 8]>
<html {languageAttributes}  class="lang-{$currentLang->locale} {$options->layout->custom->pageHtmlClass} ie ie8">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)]><!-->
<html {languageAttributes} class="lang-{$currentLang->locale} {$options->layout->custom->pageHtmlClass}">
<!--<![endif]-->
<head>
	<meta charset="{$wp->charset}">
	<meta name="viewport" content="width=device-width">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="{$wp->pingbackUrl}">

	{if $options->theme->general->favicon != ""}
		<link href="{$options->theme->general->favicon}" rel="icon" type="image/x-icon" />
	{/if}

	<script type="text/javascript">
		var ait = ait || {};
		ait.Ui = ait.Ui || {};

		if (window.location.hash) {
			ait.Ui.hash = window.location.hash;
			window.location.hash = "";
		}
	</script>

	{includePart parts/seo}

	{googleAnalytics $options->theme->google->analyticsTrackingId, $options->theme->google->anonymizeIp}

	{wpHead}

	{!$options->theme->header->customJsCode}
</head>

{* why like this? because 4 *}
{var $searchFormClass = ""}
{if $elements->unsortable[search-form]->display}
	{var $searchFormClass = $elements->unsortable[search-form]->option('type') != "" ? "search-form-type-".$elements->unsortable[search-form]->option('type') : "search-form-type-1"}
{/if}
<body n:class="$wp->bodyHtmlClass(false), defined('AIT_REVIEWS_ENABLED') ? reviews-enabled, $searchFormClass">
	{* usefull for inline scripts like facebook social plugins scripts, etc... *}
	{doAction ait-html-body-begin}

	{if $wp->isPage}
	<div id="page" class="page-container header-one">
	{else}
	<div id="page" class="hfeed page-container header-one">
	{/if}


		<header id="masthead" class="site-header" role="banner">

			<div class="top-bar">
				<div class="grid-main">

				<p class="site-description">{!$wp->description}</p>

				{includePart parts/languages-switcher}

				{menu header, depth => 1}

				</div>
			</div>

			<div class="header-container grid-main">

				<div class="site-logo">
					{if $options->theme->header->logo}
					<a href="{$homeUrl}" title="{$wp->name}" rel="home"><img src="{$options->theme->header->logo}" alt="logo"></a>
					{else}
					<div class="site-title"><a href="{$homeUrl}" title="{$wp->name}" rel="home">{$wp->name}</a></div>
					{/if}

				</div>

				<div class="site-tools">

					{includePart "parts/woocommerce-cart"}

					{includePart portal/parts/header-resources}

					{includePart parts/social-icons}

				</div>

			</div>

			{capture $mainMenu}
				{menu main}
			{/capture $mainMenu}

			{if $mainMenu}
				<div class="menu-container">
					<div class="grid-main">
						<nav class="main-nav" role="navigation">

							<div class="main-nav-wrap">
								<h3 class="menu-toggle">{__ 'Menu'}</h3>
								{!$mainMenu}
							</div>
						</nav>
					</div>
				</div>
			{/if}
		</header><!-- #masthead -->

		{if $mainMenu}
			<div class="sticky-menu menu-container" >
				<div class="grid-main">
					<div class="site-logo">
						{if $options->theme->header->logo}
						<a href="{$homeUrl}" title="{$wp->name}" rel="home"><img src="{$options->theme->header->logo}" alt="logo"></a>
						{else}
						<div class="site-title"><a href="{$homeUrl}" title="{$wp->name}" rel="home">{$wp->name}</a></div>
						{/if}
					</div>
					<nav class="main-nav">
						<!-- wp menu here -->
					</nav>
				</div>
			</div>
		{/if}

{if $pagenow == 'wp-activate.php'}
<div id="main" class="elements">
    <div class="grid-main">
        <div class="activate-form">
{/if}