/*
 * AIT WordPress Theme
 *
 * Copyright (c) 2014, Affinity Information Technology, s.r.o. (http://ait-themes.club)
 */


/* ========================================================================== */
/*                                                                            */
/*   Responsive Stylesheet                                                    */
/*                                                                            */
/* ========================================================================== */

/******************************************************************************/
/* ========================================================================== */
/* = MIN WIDTH 1200px                                                       = */
/* ========================================================================== */
/******************************************************************************/

@media all and (min-width: @theme-general-websiteWidth + 0px) {
/* && START 1200 */

	.draggable-toggle-button	{ bottom: 60px; }

/* && END 1200 */
}

/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 1200px                                                       = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 1200px) {
/* && START 1200 */

/* Megamenu Reset */

.menu-item-has-columns.sub-menu-content-full-width-position > ul > li > ul > li 	{ display: block; margin: 0; padding: 0; }
.sub-menu-content-full-width-position .menu-item-ait-row > ul li				   	{ width: auto !important; }

.menu-item-has-columns.sub-menu-content-full-width-position ul              { min-width: 200px; }

li.menu-item-has-columns.sub-menu-content-full-width-position 				{ position: relative; }
li.menu-item-has-columns.sub-menu-content-full-width-position > ul.sub-menu { left: 0; right: auto; margin-left: 0; }

.menu-item-has-columns > ul > li > ul > li	{ border: none; }


/**************************************************/
/*** && THEME CUSTOM CONTENT                    ***/
/**************************************************/

/* Search Header */

.elm-search-form .inputs-container	{ margin-top: 0; }

/* && END 1200 */
}


/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 1018px                                                       = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 1018px) {
/* && START 1200 */

.header-wrap.has-image	{ height: 280px !important; }

/* && END 1200 */
}


/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 1070px MIN WIDTH 769                                          = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 1070px) and (min-width: 769px) {
/* && START 1070 - 769 */

.widget_login .widget-title:after { display: none; background: none; }

.profile 		{ text-align: center; }
.profile-avatar { float: none; margin-right: 0; text-align: center; }

/**************************************************/
/*** && EVENTS PRO DETAIL			            ***/
/**************************************************/

.single-ait-event-pro {
	.date-container .field-container:not(.more-dates) .field-data p span.right	{ float: none; display: block; }
}

/* && END 1070 - 769 */
}



/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 1024px                                                       = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 1024px) {
/* && START 1024 */

/* Items Element */

.elements-with-sidebar {

	.elm-items-main .layout-list .item a 				{ padding: 15px; }
	.elm-items-main .layout-list .item .item-title		{ margin-top: 0; }
	.elm-items-main .layout-list .item .item-location p	{ margin-bottom: 0; }

}

/* Events Pro Element */

.elements-with-sidebar {

	.elm-events-pro-main .layout-list .item a 					{ padding: 15px; }
	.elm-events-pro-main .layout-list .item .item-title			{ margin-top: 0; }
	.elm-events-pro-main .layout-list .item .item-location p	{ margin-bottom: 0; }

}

/* && END 1024 */
}

/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 1000px                                                       = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 1000px) {
/* && START 1000 */

.menu-item-has-columns > ul > li > ul > li { display: block; margin: 0; padding: 0; }
.menu-item-ait-row > ul li				   { width: auto !important; }

.menu-item-has-columns ul                  { min-width: 200px; }

/* Content Align Reset */

li.menu-item-has-columns.sub-menu-content-left-position,
li.menu-item-has-columns.sub-menu-content-right-position				{ position: relative; }

li.menu-item-has-columns.sub-menu-content-left-position > ul.sub-menu,
li.menu-item-has-columns.sub-menu-content-right-position > ul.sub-menu	{ left: 0; right: auto; margin-left: 0; }

/* && END 1000 */
}

/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 980px                                                        = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 980px) {
/* && START 980 */

/* Categories Detail */

.filters-wrap {

	h2 									{ margin-bottom: 25px; }
	.filters-container 					{ position: static; margin-bottom: 15px; }
	.filters-container > div:before 	{ border-bottom: 1px solid #ededed; content: ""; position: absolute; left: 0; width: 100%; margin-top: 19px; }
	.filters-container .content 		{ float: left; width: 100%; }
	.filter-container 					{ float: left; margin: 0 15px 15px 0; }
	.filter-container.filter-order		{ float: right; margin-right: 0; }

}

/* Items */

.right-sidebar .item-container	{

.item-image 		{ float: left; margin: 20px 20px 0; position: relative; }
.item-data 			{ margin-left: 0; padding: 20px; }
.item-title 		{ display: block; }
.item-title h3 		{ margin-bottom: 0; }
.item-categories 	{ display: block; margin-bottom: 13px; }
.item-footer 		{ margin-top: 4px; }
.item-address 		{ max-width: 75%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

}

.address-name,
.address-data		{ width: auto; }

/**************************************************/
/*** && EVENTS PRO DETAIL                       ***/
/**************************************************/

/* Recurring Dates */

.recurring-dates-container {
	.recurring-dates .single-date { width: 32.33%; }
}

/**************************************************/
/*** && EVENTS PRO CONTAINER                    ***/
/**************************************************/

.right-sidebar .event-container.layout-list,
.left-sidebar .event-container.layout-list	{

}

/* && END 980 */
}

/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 980px MIN WIDTH 769                                          = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 980px) and (min-width: 769px) {
/* && START 980 - 769 */

.social-container	{ padding: 10px 30px; }
.social-container * { border: medium none; padding-left: 0 !important; text-align: left !important; }
.soc				{ display: block; width: auto; }

.social-container:after { font-family: 'FontAwesome'; position: absolute; right: 23px; top: 14px; content: "\f1e0"; font-size: 88px; line-height: normal; color: rgba(0, 0, 0, 0.08); }

/* && END 980 - 769 */
}


/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 768px                                                        = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 768px){
/* && START 768 */

/**************************************************/
/*** && MAIN LAYOUT                             ***/
/**************************************************/

.grid-main,
.elm-wrapper,
.elements-sidebar-wrap							{ padding-left: 20px; padding-right: 20px; }
.elements-sidebar-wrap .elm-wrapper				{ padding-left: 0px; padding-right: 0px; }

.sidebar-right-area,
.sidebar-left-area,
.elements-area									{ float: none !important; width: 100% !important; margin-right: 0px !important; }


/* Customization for MAIN LAYOUT */

.right-bck	{ background: none; display: none;  }
.right-sidebar .main-sections .elements-with-sidebar:first-child .sidebar-right-area .widget-container:first-child { margin-top: 0 !important; }

.right-sidebar .sidebar-right-area	{ background: darken(@theme-general-pageBgColor, 3%); .borderbox0; margin-left: -20px; padding: 40px 20px 20px; border-top: 1px solid @theme-general-linesColor; }

/* end Customization for MAIN LAYOUT */


/* && end of MAIN LAYOUT */


/**************************************************/
/*** && SITE HEADER                             ***/
/**************************************************/

/* Sticky navigation */

.sticky-menu	{ display: none; }

/* && end of SITE HEADER */


/**************************************************/
/*** && COLUMNS                                 ***/
/**************************************************/

/*** collapsed to fullwidth boxes *****************/

.column,
.feature-container	{ float: none; margin-right: 0px !important; margin-left: 0px !important; width: 100% !important; }

/* Features */

.column-2 .feature-container:nth-child(2),
.column-3 .feature-container:nth-child(2),
.column-3 .feature-container:nth-child(3)	{ padding-top: 15px !important; border-top: 1px solid @theme-general-linesColor !important; }

.column-2 .feature-container:nth-child(2) .feature-icon,
.column-3 .feature-container:nth-child(2) .feature-icon,
.column-3 .feature-container:nth-child(3) .feature-icon	{ top: 15px; }


/* && end of COLUMNS */


/**************************************************/
/*** && REVOLUTION SLIDER                       ***/
/**************************************************/

.elm-revolution-slider-main .elm-wrapper		{ padding-left: 0px; padding-right: 0px; }

/* && end of REVOLUTION SLIDER */


/**************************************************/
/*** && ITEM-ORGANIZER                          ***/
/**************************************************/

.elm-item-organizer .carousel-disabled .item-first			{ clear: none; }
.elm-item-organizer .carousel-disabled.column-1 .item		{ width: @item1; margin-right: 0px; clear: both; }
.elm-item-organizer .carousel-disabled.column-2,
.elm-item-organizer .carousel-disabled.column-3,
.elm-item-organizer .carousel-disabled.column-4,
.elm-item-organizer .carousel-disabled.column-5			{ 	.item					{ width: @item2; }
															.item:nth-child(2n)		{  margin-right: 0px;  }
															.item:nth-child(2n+1)	{ clear: both; margin-right: @itemSpace;}
														}

.elm-item-organizer .carousel-container.column-1 .item-box	{ width: @item1; }
.elm-item-organizer .carousel-container.column-2,
.elm-item-organizer .carousel-container.column-3,
.elm-item-organizer .carousel-container.column-4,
.elm-item-organizer .carousel-container.column-5		{ 	.item-box				{ width: @item2; } }

/* && end of ITEM-ORGANIZER */


/**************************************************/
/*** && HALF-DETAIL                             ***/
/**************************************************/

.detail-half-content .detail-thumbnail					{ width: 100%; float: none; margin-right: 0px; }
.detail-half-content .detail-thumbnail-wrap				{ margin-bottom: 40px; }
.detail-half-content .detail-description				{ width: 100%; float: none; }

/* && end of HALF-DETAIL */


/**************************************************/
/*** && PRICE-TABLE                             ***/
/**************************************************/

/*** horizontal - two columns *********************/

.elm-price-table-main .layout-horizontal						{ margin-left: 0px; margin-right: 0px; }

.elm-price-table.layout-horizontal .ptable-container			{ display: block; }
.elm-price-table.layout-horizontal .ptable-wrap					{ display: block; }
.elm-price-table.layout-horizontal .ptable-wrap:after			{ .clearfix; }
.elm-price-table.layout-horizontal .ptable-item					{ display: block; float: left; width: -webkit-calc(~"50%" - (@cellSpace / 2)); width: calc(~"50%" - (@cellSpace / 2)); margin-right: @cellSpace; margin-bottom: @cellSpace; padding-top: 0px; padding-right: 0px; }
.elm-price-table.layout-horizontal .ptable-item:last-child		{ width: 100%; margin-right: 0px; }
.elm-price-table.layout-horizontal .ptable-item:nth-child(2n)	{ float: right; margin-right: 0px; width: -webkit-calc(~"50%" - (@cellSpace / 2)); width: calc(~"50%" - (@cellSpace / 2)); }
.elm-price-table.layout-horizontal .ptable-item:nth-child(2n+1)	{ clear: both; }

.elm-price-table.layout-horizontal .table-featured .table-header			{ padding-top: 0px; }
.elm-price-table.layout-horizontal .table-featured .table-header h3:before	{ top: 0px; }
.elm-price-table.layout-horizontal .table-footer,
.elm-price-table.layout-horizontal .table-featured .table-footer			{ padding-top: 10px; padding-bottom: 10px; }

/* && end of PRICE-TABLE */


/**************************************************/
/*** && RULE                                    ***/
/**************************************************/

.elements-sidebar-wrap .elm-rule-main .rule-fullsize .grid-main		{ margin-left: -20px; margin-right: -20px; max-width: none; }

/* && end of RULE */

/**************************************************/
/*** && WIDGETS                                 ***/
/**************************************************/

/*** content collapsed to two columns *************/

/*
.widget-container .widget-title		{ width: @grid2col1; float: left; }
.widget-container .widget-content	{ width: @grid2col1; float: right; }
.widget-container .widget:after		{ .clearfix; }
*/

.sidebar-right-area,
.sidebar-left-area	{

	.widget-container:nth-child(2n-1) 				{ float: left; width: 100%; clear: both; }
	.widget-container:nth-child(2n)					{ float: left; width: 100%;  }
	.widget-container:nth-child(2n-1):last-child	{ width: 100%; float: none; }

}
.sidebar-right-area:after,
.sidebar-left-area:after	{ .clearfix; }

.widget_calendar tbody td,
.widget_calendar caption { padding: 15px 0; }

/* && end of WIDGETS */


/**************************************************/
/*** && FOOTER WIDGETS LAYOUT                   ***/
/**************************************************/

/*** collapsed to one column **********************/

.footer-widgets-container		{ margin-right: 0px; }
.footer-widgets .widget-area	{ width: 100%; float: none; padding-right: 0px; text-align: center; }


.footer-widgets .widget-area:nth-child(2n-1) 				{ float: left; width: 100%; clear: both; }
.footer-widgets .widget-area:nth-child(2n)					{ float: left; width: 100%;  }
.footer-widgets .widget-area:nth-child(2n-1):last-child		{ width: 100%; float: none; }


/* && end of FOOTER WIDGETS LAYOUT */

/**************************************************/
/*** && SITE FOOTER                             ***/
/**************************************************/

/*** collapsed ************************************/

.site-footer .nav-menu-footer		{ width: 100%; float: none; }
.site-footer .nav-menu-footer ul	{ text-align: center; margin-bottom: 20px; }
.site-footer .footer-text			{ width: 100%; float: none; text-align: center; }

/* && end of SITE FOOTER */

/**************************************************/
/*** && THEME CUSTOM CONTENT                    ***/
/**************************************************/

/* Widget Register / Login */

.widget_login .widget-title:after	{ right: 20px; }
.widget_login .widget-title h3 		{ padding: 15px 25px !important; }
.userlogin-tabs-menu 				{ padding: 15px 0 0 25px; }
.userlogin-tabs-contents			{ padding: 25px; }


/* Categories */

.categories-container ul.column-3 li	{ width: 50%; }

.categories-container ul.column-3 li:nth-child(3n) a { border-right: 1px solid @theme-general-linesColor; }
.categories-container ul.column-3 li:nth-child(2n) a { border-right: none !important; }

/* Items */

.item-container	{

.item-image 		{ float: left; margin: 20px 20px 0; position: relative; }
.item-data 			{ margin-left: 0; padding: 20px; }
.item-title 		{ display: block; }
.item-title h3 		{ margin-bottom: 0; }
.item-categories 	{ display: block; margin-bottom: 13px; }
.item-footer 		{ margin-top: 4px; }
.item-address 		{ max-width: 75%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

}

/* Reviews */

.reviews-container .review-details,
.reviews-container .review-ratings		{ margin-right: 0; float: none; width: auto; }
.reviews-container .review-ratings		{ margin-top: 20px; }
.reviews-container .review-actions 		{ text-align: center; }

.reviews-enabled .page-title .entry-header			{ padding-right: 0; }
.reviews-enabled .page-title .page-title-search		{ display: none; }

.item-container.reviews-enabled .review-stars-container						{ bottom: 27px; right: 20px; }
.item-container.reviews-enabled .review-stars-container	a,
.item-container.reviews-enabled .review-stars								{ font-size: 14px !important; }

.elm-items-main .layout-list .item.reviews-enabled .review-stars-container	{ bottom: 15px; }

/* Items Element */

.elm-items-main .layout-list .item a 				{ padding: 15px; }
.elm-items-main .layout-list .item .item-title		{ margin-top: 0; }
.elm-items-main .layout-list .item .item-location p	{ margin-bottom: 0; }

/* Events Pro Element */

.elm-ievents-pro-main .layout-list .item a 					{ padding: 15px; }
.elm-ievents-pro-main .layout-list .item .item-title		{ margin-top: 0; }
.elm-ievents-pro-main .layout-list .item .item-location p	{ margin-bottom: 0; }

/**************************************************/
/*** && EVENTS PRO CONTAINER                    ***/
/**************************************************/

.event-container.layout-list	{
	.item-thumbnail	{ width: 33%; }
	.item-data		{ margin-left: 35%; padding-left: 25px; }
}

.contentColumns(~"event-container.layout-box", 2);

/* && end of THEME CUSTOM CONTENT   */

/* && END 768 */
}


/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 715px                                                        = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 715px) {
/* && START 715 */

.header-one .site-tools		{ width: 100%; }
.header-one .social-icons	{ float: left; margin-left: 0px; }

/* && END 715 */
}


/******************************************************************************/
/* ========================================================================== */
/* = MIN WIDTH 641px                                                        = */
/* ========================================================================== */
/******************************************************************************/

@media all and (min-width: 641px) {
/* && START 641 */

/* Center Align Position Megamenu */

li.menu-item-has-columns.sub-menu-center-position > ul.sub-menu						{ background: none; .box-shadow(none); border: none !important; } /* submenu styles reset */
li.menu-item-has-columns.sub-menu-center-position > ul.sub-menu						{ left: 0 !important; margin-left: 50% !important; }
li.menu-item-has-columns.sub-menu-center-position li.menu-item-ait-row 				{ left: -50%; margin-top: 0; }

/* Styles from style.less ".nav-menu-main > ul > li ul" has to be applied for class below */
li.menu-item-has-columns.sub-menu-center-position li.menu-item-ait-row 				{ background: #ffffff; .box-shadow(0px 0px 1px 0px rgba(0,0,0,0.2)); padding: @ulBorder !important; }

/* && END 641 */
}

/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 640px                                                        = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 640px) {
/* && START 640 */

/**************************************************/
/*** && FONT SIZES                              ***/
/**************************************************/

/*** larger font sizes ****************************/

.bodysize	{ font-size: 18px; line-height: 26px; }
.smallsize	{ font-size: 14px; line-height: 22px; }

.h1size		{ font-size: 36px; line-height: 52px; }
.h2size		{ font-size: 26px; line-height: 36px; }
.h3size		{ font-size: 24px; line-height: 34px; }
.h4size		{ font-size: 22px; line-height: 30px; }
.h5size		{ font-size: 20px; line-height: 28px; }
.h6size		{ font-size: 18px; line-height: 26px; }

.littlesize	{ font-size: 14px; }
.normalsize	{ font-size: 16px; }
.largesize	{ font-size: 18px; }

.menuUlSize		{ font-size: 14px; line-height: 24px; }
.menuUlUlSize	{ font-size: 14px; line-height: 24px; }

.tableth		{ font-size: 18px; line-height: 26px; }

.portfolioFilterSize	{ font-size: 18px; line-height: 26px; }
.portfolioFilterUlSize	{ font-size: 14px; line-height: 24px; }
.portfolioTitlSize		{ .h4size; height: 30px; }
.portfolioDescSize		{ .smallsize; }

.testimonialsText	{ font-size: 18px; line-height: 26px; }
.testimonialsAuthor	{ font-size: 18px; line-height: 26px; }

.widgetsButtonSize	{ font-size: 14px !important; line-height: 22px !important; }
.calTableSize		{ font-size: 14px; line-height: 26px; }

.searchLabelSize	{ font-size: 14px; line-height: 20px; }
.searchSize			{ font-size: 14px; line-height: 24px; height: 26px; }

/*** font styles ***/

@import "fontsize.less";

/* && end of FONT SIZES */


/**************************************************/
/*** && BASIC STYLES                            ***/
/**************************************************/

.sbHolder 						{ height: 32px; }
.sbHolder .sbToggle				{ width: 32px; }
.sbHolder .sbSelector			{ width: -webkit-calc(~"100% - 32px"); width: calc(~"100% - 32px"); }
.sbHolder .sbToggle:before		{ border-width: 8px 8px 0px 8px; }
.sbHolder .sbToggleOpen:before	{ border-width: 0px 8px 8px 8px; }

.ui-datepicker								{ width: 290px; }
.ui-datepicker table th						{ padding: 6px 0px; }
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next			{ width: 26px; height: 26px; }
.ui-datepicker .ui-datepicker-prev:before	{ border-width: 7px 8px 7px 0px; top: 6px; left: 7px; }
.ui-datepicker .ui-datepicker-next:before	{ border-width: 7px 0px 7px 8px; top: 6px; right: 7px; }

.widget-container .widget-title h3:before	{ bottom: 21px; }
h2:before,
.author-info .author-description h2:before 	{ bottom: 12px; }
#respond h3:before,
.contact-owner-popup-form h3:before			{ bottom: 11px; }

/* && end of BASIC STYLES */


/**************************************************/
/*** && MAIN MENU                               ***/
/**************************************************/

/*** collapse to button ***************************/

.main-nav .assistive-text			{ display: none; }
.main-nav-wrap						{ width: 200px; margin: 0px auto; position: relative; padding: 8px 0px; }
.main-nav-wrap .menu-toggle			{ display: block;  margin: 0px; /*background: #ffffff;*/ .border-radius(5px); line-height: 42px; text-align: center; }
.header-one .nav-menu-container.nav-menu-main,
.header-two .nav-menu-container.nav-menu-main  { display: none; }
.main-nav-wrap .nav-menu-main		{ display: none; width: 300px; /*position: absolute;*/ top: 50px; left: 50%; margin-left: -150px; }
.main-nav-wrap:hover .nav-menu-main	{ display: block;}

.nav-menu-main > ul						{ background: #ffffff; padding: @ulBorder; .boxshadow1; .border-radius(0px 0px 5px 5px); }
.nav-menu-main > ul > li				{ float: none; }
.nav-menu-main > ul > li:hover			{ /*background: none;*/ }
.nav-menu-main > ul > li > a			{ font-family: arial; font-weight: bold; color: #333333; padding: 5px 15px; text-shadow: none; }
.nav-menu-main > ul > li > a:hover		{ /*background: #eeeeee; color: #000000;*/ }
.nav-menu-main ul li a					{ /*border-bottom: 1px dotted #eeeeee !important;*/ }

.nav-menu-main > ul > li ul					{ width: auto; padding: 0px; position: static; background: none; .box-shadow(none); .border-radius(0px); }
.nav-menu-main > ul > li li					{ padding: 0px; }
.nav-menu-main > ul > li li a:hover			{ /*background: #eeeeee;*/ color: #000000; }

.nav-menu-main li > ul > li                 { opacity: 1; }

.nav-menu-main > ul > li.current_page_item,
.nav-menu-main > ul > li.current_page_parent,
.nav-menu-main > ul > li.current_page_ancestor,
.nav-menu-main > ul > li.current-menu-item,
.nav-menu-main > ul > li.current-menu-parent,
.nav-menu-main > ul > li.current-menu-ancestor			{ background: #f5f5f5; }

.nav-menu-main > ul > li.current_page_item > a,
.nav-menu-main > ul > li.current_page_parent > a,
.nav-menu-main > ul > li.current_page_ancestor > a,
.nav-menu-main > ul > li.current-menu-item > a,
.nav-menu-main > ul > li.current-menu-parent > a,
.nav-menu-main > ul > li.current-menu-ancestor > a		{ color: #000000; background: #f5f5f5; .box-shadow(none); }

.nav-menu-main > ul ul li.current_page_parent > a,
.nav-menu-main > ul ul li.current_page_ancestor > a,
.nav-menu-main > ul ul li.current-menu-parent > a,
.nav-menu-main > ul ul li.current-menu-ancestor > a			{ color: @theme-general-txtColor; }
.nav-menu-main > ul ul li.current_page_parent > a:hover,
.nav-menu-main > ul ul li.current_page_ancestor > a:hover,
.nav-menu-main > ul ul li.current-menu-parent > a:hover,
.nav-menu-main > ul ul li.current-menu-ancestor > a:hover	{ color: #000000; }

.nav-menu-main ul li.current_page_item > a,
.nav-menu-main ul li.current-menu-item > a					{ color: @theme-general-lnkColor; }

/* Main Navigation - CSS effects */

.nav-menu-main 	{ .fadeMenuOff; }

.header-one .language-icons { float: right; margin-top: 7px; }
.header-one .social-icons 	{ float: none; display: inline-block; width: 100%; }

/*
.nav-menu-main li:hover > ul > li				{ margin-top: 0px; }
.nav-menu-main li:hover > ul > li:first-child	{ margin-top: 0px; }
.nav-menu-main li:hover > ul > li:last-child	{ margin-bottom: 0px; }
*/

/* MEGA MENU */

/*** Content of "Main Navigation - CSS effects" has to be deleted except the ".nav-menu-main{ .fadeMenu; }" ***/

.main-nav-wrap .nav-menu-main							{ text-align: center; }

.menu-item-has-columns > ul > li > ul > li			    { display: inline; }
.menu-item-ait-row > ul	li								{ width: 100% !important; }
.menu-item-column-label									{ width: 100% !important; .borderbox; text-align: center; }
.menu-item-ait-row ul                                   { width: 100% !important; }

.nav-menu-main > ul > li ul,
.menu-item-has-columns ul.sub-menu                      { text-align: center !important; }

.nav-menu-main > ul > li.sub-menu-center-position > ul,
.nav-menu-main > ul > li > ul                           { left: auto !important; margin-left: 0 !important; }

/* && end of MAIN MENU */

/* Customization for MAIN MENU */

.main-nav			{ position: static !important; text-align: center; }

.nav-menu-main > ul { .box-shadow(none); .border-radius(0); padding: 0; border: 1px solid rgba(0,0,0,0.1); line-height: 34px; }

.main-nav-wrap 		{ position: static; display: inline-block; padding: 8px 10px; width: auto; }
.main-nav-wrap .nav-menu-main { position: absolute; left: 0; width: 100%; margin-left: 0; margin-top: 7px; }

.nav-menu-main > ul > li > a			{ font-weight: bold !important; }

.nav-menu-main > ul > li a 				{ font-size: 17px; padding: 10px 0; }


.nav-menu-main > ul > li ul				{ max-height: none; .transition(0); .box-shadow(none); left: 0; background: #ffffff; }
.nav-menu-main li:hover > ul			{ height: auto; max-height: none; }

.nav-menu-main > ul > li ul ul			{ max-height: none; background: #ffffff; }

.menu-item-ait-row > ul > li > ul li:last-child a	        {  border-bottom: 1px solid lighten(@theme-general-linesColor, 5%) !important; }

.nav-menu-main > ul > li                                    { background: #F8F8F8; border-bottom: 1px solid #eeeeee; }

.nav-menu-main li > ul > li:first-child                     { margin-top: 0; }
.nav-menu-main > ul > li li a                               { padding: 15px; }

.nav-menu-main > ul > li:hover > ul							{ padding: 0; }
.nav-menu-main > ul > li > ul > li:hover > ul.sub-menu		{ padding: 0; }

.nav-menu-main > ul > li > ul,
.nav-menu-main > ul > li > ul > li > ul.sub-menu	{ border-bottom: 3px solid @theme-general-decColor; }

.nav-menu-main > ul > li.current_page_item > a:before,
.nav-menu-main > ul > li.current-menu-item > a:before,
.nav-menu-main > ul > li.current_page_ancestor > a:before,
.nav-menu-main > ul > li.current-menu-ancestor > a:before,
.nav-menu-main > ul > li.current-menu-parent > a:before		{ border: none; }


/* end Customization for MAIN MENU */


/**************************************************/
/*** && BREADCRUMB and PAGE TITLE               ***/
/**************************************************/
/*
.breadcrumb									{ padding: 10px 0px; }
.breadcrumbs								{ text-align: center; }
.breadcrumbs .breadcrumb-sep				{ display: none; }
.breadcrumbs .breadcrumbs-before			{ display: block; margin-bottom: 10px; padding: 2px 15px; }
.breadcrumbs .breadcrumb-end				{ display: block; padding: 2px 15px; }
.breadcrumbs a								{ display: block; margin-bottom: 10px; background: #ffffff;  padding: 2px 15px; }

.page-title .entry-title					{ text-align: center; }
.page-title .entry-meta						{ position: static; }
.page-title a.post-edit-link				{ margin-top: 20px; }

.page-title .post-title .entry-title-wrap	{ margin-left: 0px; }
.page-title .post-title .entry-data			{ padding-right: 0px; }*/

.logged-in .page-title .standard-title h1,
.logged-in .page-title .blog-title h1,
.logged-in .page-title .post-title h1,
.logged-in .page-title .attach-title h1		{ padding-right: 60px; }

.page-title .comments-link					{ position: static; margin-top: 20px; }

.page-title							{ padding: 40px 0 0; }
.page-title h1						{ margin-bottom: 15px; }

.entry-header 						{ padding-right: 15px; }

.breadcrumb							{ margin-top: 15px; }

.page-title .page-title-search		{ display: none; }
.page-title .entry-header			{ width: 100%; }

.page-title .entry-header-left		{ padding-bottom: 35px; }

.page-title .entry-header-right		{ word-wrap: break-word; }

.breadcrumbs						{ font-size: 16px; }

/* && end of BREADCRUMB and PAGE TITLE */


/**************************************************/
/*** && CONTENT and BASIC TEXT LAYOUT           ***/
/**************************************************/

.entry-content
{
	h1, h2, h3, h4, h5, h6	{ /*text-align: center;*/ }
}

/* && end of CONTENT and BASIC TEXT LAYOUT */


/**************************************************/
/*** && SHORTCODES                              ***/
/**************************************************/

.ait-sc-button									{ display: block !important; min-width: 50%; margin-left: auto !important; margin-right: auto !important; margin-bottom: 20px !important; float: none !important; }
.ait-sc-button .container						{ display: block;}
.ait-sc-button .wrap							{ display: block; }
.ait-sc-button .icon							{ display: block; text-align: center !important; }
.ait-sc-button .text							{ display: block; text-align: center !important; }
.ait-sc-button.buticon.buticon-left .text,
.ait-sc-button.buticon.buticon-right .text		{ padding-left: @butspaceIcon; padding-right: @butspaceIcon; }
.ait-sc-button.buticon.buticon-left .text		{ padding-bottom: (@butspaceIcon + @butspaceIconMore); padding-top: @butspaceTextMore; }
.ait-sc-button.buticon.buticon-right .text		{ padding-top: (@butspaceIcon + @butspaceIconMore); padding-bottom: @butspaceTextMore; }
.ait-sc-button.buticon.buticon-left .icon		{ padding-top: (@butspaceIcon + @butspaceIconMore); }
.ait-sc-button.buticon.buticon-right .icon		{ padding-bottom: (@butspaceIcon + @butspaceIconMore); }

ul.ait-sc-lists li:before								{ top: 2px; }
ul.ait-sc-lists.line li:before							{ top: 12px; }
ul.ait-sc-lists.line li:first-child:before				{ top: 2px; }
ul.ait-sc-lists.layout-half.line li:nth-child(2):before	{ top: 2px; }

/* && end of SHORTCODES */


/**************************************************/
/*** && ITEM-ORGANIZER                          ***/
/**************************************************/

.elm-item-organizer .carousel-disabled.column-1,
.elm-item-organizer .carousel-disabled.column-2,
.elm-item-organizer .carousel-disabled.column-3,
.elm-item-organizer .carousel-disabled.column-4,
.elm-item-organizer .carousel-disabled.column-5			{ 	.item		{ width: @item1; margin-right: 0px !important; clear: both !important; } }

.elm-item-organizer .carousel-container.column-1,
.elm-item-organizer .carousel-container.column-2,
.elm-item-organizer .carousel-container.column-3,
.elm-item-organizer .carousel-container.column-4,
.elm-item-organizer .carousel-container.column-5		{ 	.item-box	{ width: @item1; } }

.elm-item-organizer .layout-list.column-1 .item-thumbnail				{ width: @listThumb; }
.elm-item-organizer .layout-list.column-1 .image-present .item-title,
.elm-item-organizer .layout-list.column-1 .image-present .item-text,
.elm-item-organizer .layout-list.column-1 .image-present .item-info,
.elm-item-organizer .layout-list.column-1 .image-present .item-location	{ margin-left: @listThumb + @itemSpace; }

/* Customization for ITEM-ORGANIZER */


.elm-item-organizer .item-dur-title strong:before, .elm-item-organizer .item-dur-title strong { margin-right: 5px; font-size: 15px; }


/* end Customization for ITE-ORGANIZER */

/*** SERVICES modifications ***/

.elm-services-main .layout-list .item-thumbnail,
.elm-services-main .layout-list.column-1 .item-thumbnail		{ width: 92px; }
.elm-services-main .layout-list .image-present .item-title,
.elm-services-main .layout-list .image-present .item-text,
.elm-services-main .layout-list .image-present .item-info		{ margin-left: 112px !important; }

/*** EVENTS modifications ***/

.elm-events-main .layout-box .item-thumbnail			{ min-height: 92px; }
.elm-events-main .layout-list.column-1 .item-title		{ margin-left: @listThumb + @itemSpace; }

/*** JOB-OFFERS modifications ***/

.elm-job-offers-main .layout-list .item-thumbnail,
.elm-job-offers-main .layout-list.column-1 .item-thumbnail		{ width: 92px; }
.elm-job-offers-main .layout-list .image-present .item-title,
.elm-job-offers-main .layout-list .image-present .item-text,
.elm-job-offers-main .layout-list .image-present .item-info		{ margin-left: 112px !important; }

/* Customization for JOB-OFFERS */

.elm-job-offers-main .job-contact strong:before, .elm-job-offers-main .job-contact strong { margin-right: 5px; font-size: 15px; }

/* end Customization for JOB-OFFERS */

/*** TESTIMONIALS modifications ***/

/*.elm-testimonials-main .column-1 .item  .item-text p						{ .bodysize; }
.elm-testimonials-main .layout-list.column-1 .image-present .item-text p	{ padding-top: 0px !important; }   */

/* && end of ITEM-ORGANIZER */


/**************************************************/
/*** && PRICE-TABLE                             ***/
/**************************************************/

/*** vertical - two cols **************************/

.elm-price-table.layout-vertical .ptable-item			{ display: block; }
.elm-price-table.layout-vertical .ptable-item-wrap		{ display: block; }
.elm-price-table-main .layout-vertical .table-header	{ width: 50%; .border-radius(@cornersRad 0px 0px 0px); }
.elm-price-table-main .layout-vertical .table-body		{ width: 50%; .border-radius(0px @cornersRad 0px 0px);}
.elm-price-table-main .layout-vertical .table-footer	{ display: block; width: 100%; .border-radius(0px 0px @cornersRad @cornersRad); }
.elm-price-table.layout-vertical .table-button			{ width: auto; height: auto; }
.elm-price-table.layout-vertical .table-button a		{ .border-radius(20px); padding: 5px 20px; }


/* Customization for PRICE-TABLE */

.elm-price-table.layout-vertical .ptable-item-wrap:after			{ .clearfix; }
.elm-price-table-main .layout-vertical .table-body,
.elm-price-table-main .layout-vertical .ptable-item.table-featured .table-body { border-right: none; }
.elm-price-table-main .layout-vertical .table-body .table-row { padding: 20px 0; }
.elm-price-table-main .layout-vertical .table-footer	{ .border-radius(0px); margin: 20px 0;}
.elm-price-table.layout-vertical .table-button			{ width: 100%; }
.elm-price-table.layout-vertical .table-button a		{ .border-radius(0px);  padding: 10px 20px; }


/* end Customization for PRICE-TABLE */


/* && end of PRICE-TABLE */


/**************************************************/
/*** && MEMBER                                  ***/
/**************************************************/

.elm-member-main .photo-wrap				{ width: 60%; margin-right: auto; margin-left: auto; float: none; margin-bottom: 30px; }
.elm-member-main .desc-wrap					{ width: 100%; float: none; text-align: center; }

.elm-member-main ul.member-icons			{ text-align: center; }
.elm-member-main ul.member-icons li			{ margin-right: 3px; margin-left: 3px; margin-bottom: 6px;}

/* && end of MEMBER */


/**************************************************/
/*** && CONTACT-FORM                            ***/
/**************************************************/

.elm-contact-form-main form .form-container			{ }
.elm-contact-form-main form p						{ }
.elm-contact-form-main form p.half-size				{ }
.elm-contact-form-main form p.half-size-fl			{ width: 100%; margin-right: 0px; float: none; }
.elm-contact-form-main form p.half-size .input-row	{ width: 100%; }

.elm-contact-form-main form p .input-row .input-label			{ padding: 0px 0px 8px 0px; float: none; width: 100% !important; }
.elm-contact-form-main form p .input-row .input-wrap			{ float: none; width: 100% !important; }
.elm-contact-form-main form p.nolabel .input-row .input-wrap	{ width: 100% !important; }

.elm-contact-form-main form input[type="text"],
.elm-contact-form-main form input[type="email"],
.elm-contact-form-main form input[type="url"],
.elm-contact-form-main form input[type="date"],
.elm-contact-form-main form select							{ height: 32px; }
.elm-contact-form-main form textarea						{ height: 150px; }

.elm-contact-form-main form .input-chbox-horizontal label,
.elm-contact-form-main form .input-rbutt-horizontal label	{ display: block; padding-right: 0px; }
.elm-contact-form-main form .input-chbox-horizontal input,
.elm-contact-form-main form .input-chbox-vertical input,
.elm-contact-form-main form .input-rbutt-horizontal input,
.elm-contact-form-main form .input-rbutt-vertical input		{ margin-right: 10px; vertical-align: middle; position: relative; top: -2px; }

.elm-contact-form-main form .input-captcha img				{ height: 32px; }
.elm-contact-form-main form .input-captcha input			{ width: 26%; margin-right: 0px; }
.elm-contact-form-main form .input-captcha .input-wrap		{ text-align: center; }

/* && end of CONTACT-FORM */


/**************************************************/
/*** && BLOG                                    ***/
/**************************************************/
/*
.entry-date 					{ width: 92px; height: 92px; margin-bottom: 20px; float: none; }
.comments-link .comments-count	{ min-width: 40px; }

.hentry	{

	.entry-header						{ text-align: center; }
	.loop								{ text-align: center; }
	.entry-footer						{ text-align: center; }

	.entry-title .entry-title-wrap		{ margin-left: 0px; }
	.entry-meta							{ position: static; }
	.post-edit-link						{ margin-bottom: 20px; }
	.nothumbnail .entry-title h2		{ padding-right: 0px; }

	.entry-date							{ margin-top: 0px; }
	.entry-data							{ padding-right: 0px; }
	.comments-link						{ position: static; margin-top: 20px; }
	.tags								{ display: block; }
	.more								{ float: none; margin-right: 0px; }
	.more .meta-nav						{ width: 26px; height: 26px; }
	.more .meta-nav:before				{ border-width: 7px 0px 7px 7px; top: 6px; left: 11px; }

}

.hentry.sticky {

	.nothumbnail .entry-title h2		{ padding-right: 0px; }
	.featured-post						{ margin-bottom: 20px; }

}   */

/* && end of BLOG */


/**************************************************/
/*** && COMMENTS                                ***/
/**************************************************/

.commentlist .comment-meta .comment-tools	{ position: static; padding: 15px 0px 10px 0px;  }

/* && end of COMMENTS */


/**************************************************/
/*** && COMMENTS                                ***/
/**************************************************/

.commentlist .comment-meta .comment-author	{ float: none; }
.commentlist .comment-meta .fn:after 		{ display: none; }
.commentlist .comment-meta time				{ float: none; }

/* && end of COMMENTS */


/**************************************************/
/*** && WIDGETS                                 ***/
/**************************************************/

.widget_categories, .widget_archive, 								/* --- archives ----- */
.widget_submenu, .widget_pages, .widget_nav_menu, .widget_meta, 	/* --- menus -------- */
.widget_recent_entries, .widget_recent_comments, .widget_rss		/* --- posts, rss --- */
{
	li:before						{ top: 13px; }
}

.widget_calendar tfoot td a			{ top: 6px; }
.widget_rss .widget-title img		{ margin-top: 7px; }

.footer-widgets {

.widget_categories, .widget_archive, 								/* --- archives ----- */
.widget_submenu, .widget_pages, .widget_nav_menu, .widget_meta, 	/* --- menus -------- */
.widget_recent_entries, .widget_recent_comments, .widget_rss		/* --- posts, rss --- */
{
	li:before						{ top: 8px; }
}
}

/* Customization for WIDGETS */

.widget_calendar tfoot td a			{ top: 17px; }
.widget_calendar tfoot td#prev a 	{ left: 24px; }
.widget_calendar tfoot td#next a 	{ right: 24px; }

/* Customization for WIDGETS */

/* Footer widgets */

.footer-widgets .widget-area { text-align: center; }

/* end of Footer Widgets */

/* && end of WIDGETS */


/* Customization */

.site-description		{ text-align: center; }
.header-two .site-tools { padding-top: 0px; }
.header-two .social-icons li:first-child 		{ margin-left: 5px; }
.header-two .site-logo  { padding-top: 20px; }
.header-two .site-logo a,
.header-one .site-logo a { font-size: 52px; }
.header-two .header-container,
.header-one .header-container { padding: 30px 0; }
.header-one .site-logo	 { display: block; text-align: center; }
.header-one .site-tools	 { float: none; text-align: center;}
.header-one .social-icons	{ margin-top: 30px; }
.header-one .site-description { float: none; text-align: center; }
.header-one .main-nav-wrap { text-align: center; }
.header-one .language-icons	{ float: right; margin: 7px 0 5px; padding-left: 0; border-left: 0;}

/*.language-icons__list	{ position: static; margin: 0 auto; max-width: 50%; }*/

.top-bar {
	.site-description	{ display: none; }
	.nav-menu-container { float: left; padding: 8px 0; max-width: 80%; }
}

#respond form label {display: block; }
#respond form textarea { width: 100%; }
#respond .form-allowed-tags { float: none; text-align: left; padding: 15px 0; width: 100%; }
#respond form p.form-submit { text-align: center; }

/* Portfolio */

.elm-portfolio .filters-wrapper									{ text-align: center; }
.elm-portfolio .filters-wrapper .filter-wrapper ul 				{ min-width: 100%; }
.elm-portfolio .filters-wrapper .filter-wrapper ul.order 		{ margin-left: -21px; }

.elm-portfolio .filters-wrapper .category-wrap			{ display: inline-block; float: none; }
.elm-portfolio .filters-wrapper .sort-by-wrap,
.elm-portfolio .filters-wrapper .order-wrap				{ display: inline-block; float: none; }

.elm-portfolio .filters-wrapper .category-wrap:after,
.elm-portfolio .filters-wrapper .sort-by-wrap:before,
.elm-portfolio .filters-wrapper .order-wrap:before { display: none; }

/* end Customization */


/**************************************************/
/*** && UNIVERSAL CAROUSEL                      ***/
/**************************************************/


.elm-main.carousel-enabled .carousel-arrows .arrow					{ width: 46px; }

.carousel-enabled .carousel-arrows 									{ width: 25% !important; margin: 20px auto 40px auto !important; position: relative; }
.carousel-enabled .carousel-arrows:after							{ .clearfix; }

.elm-has-bg.elm-main.carousel-enabled .carousel-arrows .arrow-left,
.carousel-enabled .carousel-arrows .arrow-left						{ right: auto; left: 0 !important; }


.column .elm-main.carousel-enabled .carousel-arrows .arrow-right	{ right: 0px !important; }
.carousel-enabled .carousel-arrows .arrow-right 					{ right: 0px !important; }

.elm-main.carousel-enabled .carousel-arrows .arrow-left:before,
.elm-main.carousel-enabled .carousel-arrows .arrow-right:before		{ font-size: 41px; top: -30px; padding: 5px 15px; .box-shadow(0 0 1px 0 rgba(0, 0, 0, 0.1)); }

.elm-main.carousel-enabled .carousel-arrows .arrow-left:after		{ border: none; display: none; }


.carousel-enabled .carousel-arrows .arrow 					{ top: 0 !important; }
.carousel-enabled .elm-item-organizer	 					{ border-top: none;  padding-top: 0; }
.elmh-has-bg.carousel-enabled .elm-item-organizer	 		{ border-top: none; }


.elm-main.carousel-enabled .carousel-arrows .arrow:hover						{ opacity: 1; }
.elm-main.carousel-enabled .carousel-arrows .arrow.arrow-left:hover:before,
.elm-main.carousel-enabled .carousel-arrows .arrow.arrow-right:hover:before 	{ background: @theme-general-decColor; color: #ffffff; }

/* && end of UNIVERSAL CAROUSEL */


/**************************************************/
/*** && THEME CUSTOM CONTENT                    ***/
/**************************************************/

/* Item Detail */

.item-content-wrap .elm-easy-slider-main	{ float: none; width: 100%; max-width: none; text-align: center; }

/* Address */

.address-name { padding: 15px 15px 15px 0; }

/* Contact Owner */

.contact-owner-popup-form			{ width: auto; }
.contact-owner-popup-form .messages	{ position: absolute; padding-right: 40px; background: #ffffff; }

/* Categories */

.categories-container ul.column-2 li,
.categories-container ul.column-3 li	{ float: none; display: block; width: 100%; }

.categories-container ul li a,
.categories-container ul.column-2 li:nth-child(2n) a,
.categories-container ul.column-3 li:nth-child(3n) a { border-right: none !important; }

/* Categories Detail */

.items-container .filters-container > div:before 	{ border: none; display: none; }
.items-container .filter-container.filter-order		{ float: left; }
.items-container .filter-container.filter-order a	{ font-size: 30px; }

/* Items */

.item-container	{

	.item-image					{ float: none !important; }
	.item-image img 			{ max-width: 100%; }
	.item-data 					{ border-right: none; border-bottom: 8px solid lighten(@theme-general-linesColor, 4%); .box-shadow(0 -1px 0 0 #ededed inset); }
	.item-featured .item-data 	{ border-bottom: 8px solid @theme-general-decColor; }
	.item-footer				{ margin-top: 10px; }

}

.address-name,
.address-data					{ display: block; width: auto; }
.address-data					{ padding-left: 30px; margin-bottom: 10px; }

/* Item Reviews */

.reviews-container .review-stars					{ position: relative; padding-left: 0; }
.reviews-container .review-stars .review-ratings	{ right: auto; left: 0; width: 100%; max-width: none; }

/* Items Element */

.elm-items-main .item .item-categories 	{ line-height: 28px; }

.elm-items-main .layout-list .item a	{ padding-bottom: 60px !important; }

.elm-items-main .layout-list .item.reviews-enabled .item-location p				{ max-width: 100%; }

.elm-items-main .layout-list .item.reviews-enabled .review-stars-container 		{ bottom: 22px; left: 7.5px; margin-left: 26.1%; }
.elm-items-main .layout-list .item.reviews-enabled .review-stars-container a	{ padding: 0 !important; }

/* Map Header */

.elm-header-map > div 	{max-height: 430px !important; }

/* Header Resources */

.header-resources 				{ float: none; display: inline-block; margin: 10px 0 0 0; }
.resources-button.ait-sc-button { display: inline-block !important; margin: 0 !important; width: auto !important; min-width: inherit !important; }

/* ELEMENT Get Directions */

.elm-get-directions-main .directions_route_table td:first-child	{ width: auto; }

.elm-get-directions-main .directions_buttons					{ padding: 25px 0; width: 100%; text-align: center; }
.elm-get-directions-main .directions_buttons .route_submit_div	{ margin-right: 0; }
.elm-get-directions-main .directions_buttons a.ait-sc-button 	{ width: 100% !important; }


/**************************************************/
/*** && EVENTS PRO DETAIL			            ***/
/**************************************************/

.single-ait-event-pro {
	.entry-thumbnail	{ float: none; width: 100%; max-width: none; text-align: center; margin-bottom: 40px; }

	.date-container .field-container:not(.more-dates) .field-data p span.right	{ float: none; display: block; }
}

/* Recurring Dates */

.recurring-dates-container {
	.recurring-dates .single-date { width: 49.25%; }
}

/* Event Calendar */

.event-calendar	{

	&.fc .fc-toolbar > * > *		{ float: none; margin-bottom: 15px; vertical-align: middle; }

	&.fc .fc-toolbar .fc-left h2	{ margin-bottom: 20px; }
	&.fc .fc-toolbar h2:before,
	&.fc .fc-toolbar h2:after		{ display: none; }

	.fc-toolbar .fc-left,
	.fc-toolbar .fc-left h2,
	.fc-toolbar .fc-right			{ float: none; text-align: center; }

	.fc-button-group,
	.fc-toolbar .fc-center			{ vertical-align: top; }
	.fc-toolbar .fc-center:empty	{ display: none; }

	&.fc-ltr .fc-h-event.fc-not-end:after,
	&.fc-rtl .fc-h-event.fc-not-start:after		{ display: none; }

}


/* Organizer */

.organizer-container .thumbnail			{ position: relative; width: 100%; height: 250px; }
.organizer-container .data-container	{ width: 100%; padding: 27px 25px; 35px; }

/* Events Pro Element */

.elm-events-pro .layout-list .item > a			{ padding: 15px 15px 0 15px; }

.elm-events-pro-main .item .item-categories 	{ line-height: 28px; }

.elm-events-pro .layout-list .item.image-present .item-title,
.elm-events-pro .layout-list .item.image-present .item-text,
.elm-events-pro .layout-list .item.image-present .item-location 	{ margin-left: 0 !important; }

.elm-events-pro .layout-list .item .item-title		{ margin-top: 20px !important; }

.elm-events-pro .layout-list .item .item-thumbnail	{ position: relative; width: 100% !important; height: 250px; float: none; }

/**************************************************/
/*** && EVENTS PRO CONTAINER                    ***/
/**************************************************/

.event-container.layout-list	{
	& > a 				{ padding: 15px 15px 0 15px; }
	.item-thumbnail		{ position: relative; width: 100%; height: 250px; float: none; }
	.item-data			{ margin-left: 0; padding: 0; }
	.item-title			{ display: block; margin-top: 20px; }
	.item-categories 	{ display: block; line-height: 28px; }
}

.left-sidebar,
.right-sidebar {
	.contentColumns(~"event-container.layout-box", 1);
}

.contentColumns(~"event-container.layout-box", 1);

/* && end of THEME CUSTOM CONTENT */


/* && END 640 */
}


/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 480px                                                        = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 497px) {
/* && START 480 */

/**************************************************/
/*** && ITEM                                    ***/
/**************************************************/

/* Item Social */

.soc				{ padding: 6px 15px 0px; width: auto; border: none; }
.soc.twitter,
.soc.gplus			{ padding-left: 15px; }
.soc.gplus			{ text-align: center; }

/* && end of ITEM  */

/**************************************************/
/*** && SHORTCODES                              ***/
/**************************************************/

.ait-sc-button								{ width: 100% !important; }

/* && end of SHORTCODES  */


/**************************************************/
/*** && PORTFOLIO                               ***/
/**************************************************/

/*** collapsed to fullwidth boxes *****************/

.elm-portfolio .portfolio-item 							{ width: 440px !important; height: auto !important}

.elements-sidebar-wrap .elm-portfolio-main.elm-has-bg .elm-portfolio .portfolio-item 	{ width: 400px !important; height: auto !important }

/* && end of PORTFOLIO */


/**************************************************/
/*** && PRICE-TABLE                             ***/
/**************************************************/

/*** horizontal & vertical - one column ***********/

.elm-price-table.layout-horizontal .ptable-item			{ width: 100% !important; margin-right: 0px !important; float: none; }

.elm-price-table-main .layout-vertical .table-header			{ display: block; width: 100%; .border-radius(@cornersRad @cornersRad 0px 0px); }
.elm-price-table-main .layout-vertical .table-header h3:before	{ .border-radius(@cornersRad @cornersRad 0px 0px); }
.elm-price-table-main .layout-vertical .table-body				{ display: block; width: 100%; .border-radius(0px); }


/* Customization for PRICE-TABLE */

.elm-price-table-main .layout-vertical .table-body,
.elm-price-table-main .layout-vertical .ptable-item.table-featured .table-body				{ border: none; }
.elm-price-table-main .layout-vertical  .table-header           { margin: 0; }

/* end Customization for PRICE-TABLE */

/* && end of PRICE-TABLE */

/**************************************************/
/*** && THEME CUSTOM CONTENT                    ***/
/**************************************************/

/* Items */

.item-container .item-address	{ max-width: 100% !important; }

/* Page Title */

.page-title .grid-table,
.page-title .grid-row,
.page-title .entry-header 		{ display: block; }

/* Reviews */

.reviews-enabled.single-ait-item .page-title						{ border-bottom: 1px solid @theme-general-linesColor; }
.reviews-enabled.single-ait-item .page-title .entry-header-left 	{ float: none; max-width: none; }
.reviews-enabled.single-ait-item .page-title .entry-header-right	{ float: none; padding: 30px 0 35px; width: auto; text-align: center; }
.reviews-enabled .page-title .review-stars-container a:only-child	{ margin: 0; }

.item-container.reviews-enabled .review-stars-container	{ position: static; right: auto; left: auto; padding: 0px 0px 10px 20px; background: lighten(@theme-general-linesColor, 4%); }

/**************************************************/
/*** && EVENTS PRO DETAIL			            ***/
/**************************************************/

.single-ait-event-pro {
	.data-container .field-container:not(.more-dates) .field-wrapper div { display: block; width: 100%; }
	.event-date .field-wrapper .field-title	{ border: none; padding-bottom: 0; }
	.event-date .field-data					{ padding: 0 15px 15px 15px; }
}

/* Recurring Dates */

.recurring-dates-container {
	.recurring-dates .single-date { width: 100%; }
}

.event-calendar {
	&.fc .fc-month-view th:first-child,
	&.fc .fc-month-view .fc-row td:first-child	{ padding-left: 10px; width: auto; }
	&.fc .fc-month-view th:last-child,
	&.fc .fc-month-view .fc-row td:last-child	{ padding-right: 10px; width: auto; }
}

/* && end of THEME CUSTOM CONTENT */

/**************************************************/
/*** && WIDGETS                                 ***/
/**************************************************/

/*** content collapsed to one column **************/

.widget-container .widget-title		{ width: 100%; float: none; }
.widget-container .widget-content	{ width: 100%; float: none; }

/* && end of WIDGETS */

/* && END 480 */
}


/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 479px                                                        = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 479px) {
/* && START 320 */

/**************************************************/
/*** && PORTFOLIO                               ***/
/**************************************************/

.elm-search-form .radius-popup-container								{ top: 47px; left: -5px; }
.elm-search-form .radius-popup-container.radius-input-visible:before	{ left: 15px; }
.select2-drop-active { margin-top: 8px; left: 20px !important; width: auto !important; right: 20px !important; }

/* && end of PORTFOLIO */

/**************************************************/
/*** && PORTFOLIO                               ***/
/**************************************************/

/*** collapsed to fullwidth boxes *****************/

.elm-portfolio .portfolio-item 							{ width: 280px !important; }

.elements-sidebar-wrap .elm-portfolio-main.elm-has-bg .elm-portfolio .portfolio-item 	{ width: 240px !important; }

/* && end of PORTFOLIO */

/* && END 479 */
}

/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 360px                                                        = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 360px) {
/* && START 320 */

/**************************************************/
/*** && BLOG                                    ***/
/**************************************************/

.comments-count:after,
.tags-links:after,
.categories:after 			{ left: 0; right: auto; }

.entry-footer {

	.footer-table,
	.footer-row,
	.footer-cell,
	.footer-cell:first-child	{ display: block; width: 100%; }

	.footer-cell:last-child		{ margin-top: 10px; padding-top: 10px; border-top: 1px solid @theme-general-linesColor; }
	.footer-cell:after			{ .clearfix; }

	.author						{ float: left; }
	.auth-links					{ line-height: 22px; }
	.entry-date					{ float: right; }

	.tags,
	.categories,
	.comments-link				{ padding: 0 0 0 25px; text-align: left; }

}

/* && end of BLOG */

/* && END 360 */
}

/**************************************************/
/*** && SPECIAL OFFERS PLUGIN                   ***/
/**************************************************/

@import "plugins/special-offers-responsive.less";

/* && end of SPECIAL OFFERS PLUGIN */

/*** WooCommerce ***/

@import "woocommerce/woo-responsive.less";
